env/*
data/*
*.egg-info
__pycache__
lightning_logs/*
Exp_weights/*
wandb/*
*.log
runs/*
jupyter/.ipynb_checkpoints/
run/*
old/*
weights/*
outputs/*
22-53-32/
no_test/*
.env
analyzed/*
tmp.txt
final_results/*
dataraw_datasets/*
outputs/*
outputs_old/*
*.csv
*.pkl
!jupyter/ICML23_results_1_controllability.ipynb
!jupyter/ICML23_results_2_accuracy.ipynb
*.pdf
63b2f4a9f72eb16649dabe85
jupyter
*.lprof
*.tmp
*.ckpt
srbench/
pmlb/
target_folder/
ControllableNeuralSymbolicRegressionWeights/*
ControllableNeuralSymbolicRegressionWeights*
bash_scripts/*